* {
  margin: 0;
  padding: 0;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    "header header"
    "sidebar nav"
    "sidebar article"
    "footer footer";
}

.container div {
  padding: 15px;
  gap: 4px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  display: grid;
  grid-auto-flow: column;
  justify-content: undefined;
  align-items: center;
  grid-area: header;
}

.menu {
  display: grid;
  width: 100%;
}

.menu ul {
  font-size: 1rem;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
  grid-auto-flow: column;
}

.menu ul li {
  font-size: 1rem;
}

.sidebar {
  background-color: #c50208;
  display: grid;
  grid-area: sidebar;
  /* gap: 50px; Used margin later on instead */ 
}
.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
}

.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  margin: 50px 0;
}

.nav {
  background-color: #c50208;
  display: grid;
  align-items: center;
  grid-area: nav;
  margin: 5px;
}

.nav ul {
  list-style: none;
  display: grid;
  grid-auto-flow: column;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-area: article;
  margin: 0 5px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #ffffff;
  color: black;
  text-align: center;
  height: 200px;
  margin: 5px;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
}

.footer {
  background-color: #393f4d;
  grid-area: footer;
  margin: 5px;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}
